@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    background-color: wheat;
}

h1 {
    color:#341307;
    text-align: center;
    font-family: quicksand;
    padding: 10px   ;
}
